/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.button, .download-button, .download-otf,
.download-ttf {
  text-decoration: none;
  margin: 0;
  border: 0;
  color: white;
  font-size: 16px;
  background-color: #4580b1;
  padding: 0 15px;
  min-width: 80px;
  min-height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  border-radius: 5px; }
  .button:hover, .download-button:hover, .download-otf:hover,
  .download-ttf:hover {
    background-color: #37658c; }
  .button.disabled, .disabled.download-button, .disabled.download-otf,
  .disabled.download-ttf, .button[disabled], [disabled].download-button, [disabled].download-otf,
  [disabled].download-ttf {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
    color: #333;
    background-color: #E6E6E6; }

.header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;
  border-bottom: 1px solid gray; }
  .header a {
    color: black;
    text-decoration: none; }
    .header a:visited {
      color: black; }
  .header .left-nav {
    float: left; }
  .header .right-nav {
    float: right; }
    .header .right-nav a {
      margin-left: 15px; }

.glyph {
  display: inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-size: 1000% 1600%;
  background-position: -0px -0px;
  background-repeat: no-repeat; }
  .glyph .hover {
    width: 100%;
    height: 100%; }
    .glyph .hover:hover {
      background-color: rgba(0, 0, 0, 0.5); }
  .glyph.last {
    background-size: 900% 1600%; }

.layout.main {
  margin-top: 60px;
  overflow: auto; }

.layout .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 880px; }

.layout .header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000; }

.layout .board {
  position: relative;
  margin-top: 60px;
  min-width: 100%;
  min-height: 100%;
  z-index: 4000; }

.font-card {
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 300px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .font-card a {
    color: black;
    text-decoration: none; }
    .font-card a:visited {
      color: black; }
  .font-card:nth-child(2n-1) {
    padding-left: 0; }
  .font-card header {
    margin-bottom: 10px; }
    .font-card header h3 {
      font-size: 2.0em; }
  .font-card-preview {
    width: 100%;
    padding-top: 50%;
    background-repeat: no-repeat;
    background-size: 100%; }

.sub-header {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px grey; }

.find-character {
  float: right;
  vertical-align: middle;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid gray;
  padding: 0 5px; }
  .find-character input {
    font-size: 16px;
    border: none;
    vertical-align: middle; }
  .find-character .icon {
    width: 20px;
    vertical-align: middle; }

.modal, .download-modal, .test-modal, .detail-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 6000; }
  .modal.is-active, .is-active.download-modal, .is-active.test-modal, .is-active.detail-modal {
    display: block; }
  .modal .close, .download-modal .close, .test-modal .close, .detail-modal .close {
    position: absolute;
    font-size: 30px;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer; }
  .modal:before, .download-modal:before, .test-modal:before, .detail-modal:before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1%;
    vertical-align: middle; }

.download-modal .wrapper {
  display: inline-block;
  vertical-align: middle; }
  .download-modal .wrapper:before, .download-modal .wrapper:after {
    content: " ";
    display: table; }
  .download-modal .wrapper:after {
    clear: both; }

.download-otf,
.download-ttf {
  float: left;
  clear: left;
  width: 200px;
  margin: 5px 0; }

.test-modal .wrapper {
  width: 600px;
  text-align: left;
  background-color: #aaa;
  border-radius: 1px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle; }
  .test-modal .wrapper textarea {
    font-size: 40px;
    box-sizing: border-box;
    width: 100%;
    resize: none; }

.detail-modal .wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 600px; }
  .detail-modal .wrapper canvas {
    width: 100%; }

.detail-glyph {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-size: 1000% 1600%;
  background-position: -0px -0px;
  background-repeat: no-repeat; }
