.glyph {
  display: inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer;
  // background-size: 640% 1024%;
  background-size: 1000% 1600%;
  background-position: -0px -0px;
  background-repeat: no-repeat;
  .hover {
    width: 100%;
    height: 100%;
    &:hover {
      background-color: rgba(0,0,0,0.5);
    }
  }
  &.last {
    background-size: 900% 1600%;
  }
}
